---
- name: Remove snort remote logging from QRadar
  ibm.qradar.qradar_log_source_management:
    name: Snort rsyslog source - {{ hostvars['ids.shadowman.dev']['ip_addr'] }}
    type_name: Snort Open Source IDS
    state: absent
    description: Snort rsyslog source
    identifier: snort

- name: Remove the new log source
  ibm.qradar.qradar_deploy:
    type: INCREMENTAL
  failed_when: false
